@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit&display=swap");
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0 0 !important;
  background-color: black;
}
.header .contenedor-titulo {
  display: flex;
  align-items: end;
}
.header .contenedor-titulo .logo {
  width: 140px;
}
@media screen and (max-width: 880px) {
  .header .contenedor-titulo .logo {
    width: 15vw;
    min-width: 80px;
  }
}
.header .contenedor-titulo .titulo {
  font-size: 60px;
  margin-left: 10px;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 880px) {
  .header .contenedor-titulo .titulo {
    font-size: 6.5vw;
    margin-right: 5px;
  }
}
.header .menu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.header .menu .inicio-sesion {
  text-decoration: none;
  padding: 20px;
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  text-align: end;
}
@media screen and (max-width: 880px) {
  .header .menu .inicio-sesion {
    display: none;
  }
}
.header .menu .navbar-menu {
  border-radius: 5px;
  background-color: white;
  border: 1px solid white;
}
.header .menu .navbar-menu .navbar-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media screen and (min-width: 881px) {
  .header .menu .offcanvas .offcanvas-body .navbar-nav .desaparece {
    display: none;
  }
}

.contenedor .contenedor-bienvenida {
  grid-area: bienvenida;
  margin-top: 110px;
}
@media screen and (max-width: 880px) {
  .contenedor .contenedor-bienvenida {
    margin-top: 12vw;
  }
}
@media screen and (max-width: 460px) {
  .contenedor .contenedor-bienvenida {
    margin-top: 60px;
  }
}
.contenedor .contenedor-bienvenida .carousel .carousel-inner .carousel-item img {
  width: 100%; /* Ajusta según tus necesidades */
  position: relative;
  display: inline-block;
}
.contenedor .contenedor-bienvenida .carousel .carousel-inner .carousel-item .subcontenedor-bienvenida {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px 10px;
  width: 70vw;
}
@media screen and (max-width: 880px) {
  .contenedor .contenedor-bienvenida .carousel .carousel-inner .carousel-item .subcontenedor-bienvenida {
    width: 100vw;
  }
}
.contenedor .contenedor-bienvenida .carousel .carousel-inner .carousel-item .subcontenedor-bienvenida .titulo-bienvenida {
  font-size: 4em;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 5px;
}
@media screen and (max-width: 460px) {
  .contenedor .contenedor-bienvenida .carousel .carousel-inner .carousel-item .subcontenedor-bienvenida .titulo-bienvenida {
    font-size: 35px;
  }
}
.contenedor .contenedor-bienvenida .carousel .carousel-inner .carousel-item .subcontenedor-bienvenida .parrafo {
  width: 100%;
  font-size: 2vw;
}
@media screen and (max-width: 880px) {
  .contenedor .contenedor-bienvenida .carousel .carousel-inner .carousel-item .subcontenedor-bienvenida .parrafo {
    font-size: 3vw;
  }
}

.contenedor-registro .datos-registro, .contenedor-contacto .datos, .contenedor-inicio-sesion .datos-inicio, .contenedor .contenedor-mascotas .mascotas .perfil {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  margin: 20px 10px;
}

.contenedor .contenedor-mascotas {
  grid-area: mascotas;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor .contenedor-mascotas .titulo-mascotas {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4em;
  margin-top: 10px;
}
@media screen and (max-width: 460px) {
  .contenedor .contenedor-mascotas .titulo-mascotas {
    font-size: 45px;
  }
}
.contenedor .contenedor-mascotas .subtitulo-mascotas {
  font-size: 35px;
  text-align: center;
  margin: 0 5px;
}
@media screen and (max-width: 460px) {
  .contenedor .contenedor-mascotas .subtitulo-mascotas {
    font-size: 25px;
  }
}
.contenedor .contenedor-mascotas .subtitulo-mascotas-i {
  font-size: 35px;
  text-align: center;
  margin: 30px 5px 5px 5px;
}
@media screen and (max-width: 460px) {
  .contenedor .contenedor-mascotas .subtitulo-mascotas-i {
    font-size: 25px;
  }
}
.contenedor .contenedor-mascotas .mascotas {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.contenedor .contenedor-mascotas .mascotas .perfil {
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  padding: 10px 0 !important;
}
.contenedor .contenedor-mascotas .mascotas .perfil .titulo-nombre-mascota {
  width: 100%;
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
}
.contenedor .contenedor-mascotas .mascotas .perfil .carousel .carousel-inner .carousel-item .imgMascotas {
  width: 100%;
}
.contenedor .contenedor-mascotas .mascotas .perfil .card-body .nombre {
  font-size: 25px;
  margin: 10px;
}
.contenedor .contenedor-mascotas .mascotas .perfil .card-body .btnAdoptar {
  margin: 10px 0;
  background-color: yellow;
  padding: 10px 15px;
  color: black;
  border: none;
  font-size: 20px;
  transition: 1s;
}
.contenedor .contenedor-mascotas .mascotas .perfil .card-body .btnAdoptar:hover {
  transform: scale(1.2);
}
.contenedor .borde-esfumado-m {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
  background-size: 100% 10px; /* Altura y ancho del borde superior */
  background-position: top; /* Posición del gradiente en la parte superior */
  background-repeat: no-repeat; /* Evita la repetición del gradiente */
}
.contenedor .contenedor-mascotas-oficial {
  margin-top: 125px;
}
@media screen and (max-width: 880px) {
  .contenedor .contenedor-mascotas-oficial {
    margin-top: 14vh;
  }
}

.contenedor .contenedor-testimonios {
  grid-area: testimonios;
  display: flex;
}
.contenedor .contenedor-testimonios .testimonios {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
}
.contenedor .contenedor-testimonios .testimonios .titulo-testimonio {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (max-width: 880px) {
  .contenedor .contenedor-testimonios .testimonios .titulo-testimonio {
    margin-top: 0;
    margin-bottom: 15px;
  }
}
.contenedor .contenedor-testimonios .testimonios .contenedor-mensajes {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.contenedor .contenedor-testimonios .testimonios .contenedor-mensajes .mensaje {
  border-radius: 8px;
  background-color: lightslategray;
  padding: 5px 15px;
  padding-top: 20px;
  margin: 5px;
  max-width: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.contenedor .contenedor-testimonios .testimonios .contenedor-mensajes .mensaje .submensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  width: 300px;
}
.contenedor .contenedor-testimonios .testimonios .contenedor-mensajes .mensaje .submensaje .foto {
  width: 100%;
}
.contenedor .contenedor-testimonios .testimonios .contenedor-mensajes .mensaje .submensaje .nombre-testimonio {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}
.contenedor .contenedor-testimonios .testimonios .contenedor-mensajes .mensaje .texto {
  font-size: 15px;
}
.contenedor .contenedor-testimonios .testimonios .contenedor-mensajes .destacado-testimonio {
  background: linear-gradient(to top, #ffee33, #fbff00);
  background-color: #ffe100;
  border: 1px solid yellow;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Desplazamiento X, desplazamiento Y, desenfoque, color */
}
.contenedor .margen-testimonio {
  margin-top: 125px;
}
.contenedor .borde-esfumado-t {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
  background-size: 100% 10px; /* Altura y ancho del borde superior */
  background-position: top; /* Posición del gradiente en la parte superior */
  background-repeat: no-repeat; /* Evita la repetición del gradiente */
}
@media screen and (max-width: 880px) {
  .contenedor .borde-esfumado-t {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), transparent);
  }
}

@media screen and (max-width: 880px) {
  section.contenedor-testimonios.margen-testimonio {
    margin-top: 0;
    margin-left: 10px;
  }
}
.contenedor .contenedor-secciones {
  grid-area: secciones;
  display: flex;
  padding: 10px 0;
}
@media screen and (max-width: 880px) {
  .contenedor .contenedor-secciones {
    justify-content: center;
  }
}
.contenedor .contenedor-secciones .secciones {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 10px;
}
@media screen and (max-width: 880px) {
  .contenedor .contenedor-secciones .secciones {
    flex-direction: column;
    place-items: center;
  }
}
.contenedor .contenedor-secciones .secciones .seccion {
  max-width: 400px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  margin: 5px 20px;
}
@media screen and (max-width: 1142px) {
  .contenedor .contenedor-secciones .secciones .seccion {
    max-width: 300px;
  }
}
.contenedor .contenedor-secciones .secciones .seccion .subseccion {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.contenedor .contenedor-secciones .secciones .seccion .subseccion .titulo-seccion {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 5px;
}
.contenedor .contenedor-secciones .secciones .seccion .subseccion .subtitulo-seccion {
  color: black;
}
.contenedor .contenedor-secciones .secciones .destacado {
  transition: transform 0.4s ease-in-out; /* Agrega una transición suave */
}
.contenedor .contenedor-secciones .secciones .destacado:hover {
  transform: scale(1.3);
}

.contenedor .contenedor-footer {
  grid-area: footer;
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: "Kanit", sans-serif;
  margin-top: auto;
  padding: 1em 0;
}
.contenedor .contenedor-footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 460px) {
  .contenedor .contenedor-footer .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contenedor .contenedor-footer .footer .redes .informacion {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.contenedor .contenedor-footer .footer .redes .informacion .icono-redes {
  width: 25px;
  margin-right: 10px;
}
.contenedor .contenedor-footer .footer .redes .informacion .sub-redes {
  color: #fff;
  font-family: "Kanit", sans-serif;
  padding: 0;
  text-decoration: none;
}
.contenedor .contenedor-footer .footer .subcripcion {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 95px;
}
@media screen and (max-width: 460px) {
  .contenedor .contenedor-footer .footer .subcripcion {
    padding-right: 0;
  }
}
.contenedor .contenedor-footer .footer .subcripcion div {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
@media screen and (max-width: 460px) {
  .contenedor .contenedor-footer .footer .subcripcion div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contenedor .contenedor-footer .footer .subcripcion div input {
  margin-right: 5px;
}
.contenedor .contenedor-footer .footer .subcripcion div .btnAdoptar {
  background-color: yellow;
  padding: 10px 15px;
  color: black;
  border: none;
}

main {
  grid-column: 1/3;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
main .seccion-nosotros {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
main .seccion-nosotros .subtitulos {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vh;
}
main .seccion-nosotros .contenido {
  margin: 10px;
  width: 80%;
  text-align: center;
  font-size: 1.5vw;
}
@media screen and (max-width: 880px) {
  main .seccion-nosotros .contenido {
    font-size: 2.5vh;
  }
}
main .seccion-nosotros .conteiner-nosotros {
  width: 100%;
  display: grid;
  place-content: center;
}
main .seccion-nosotros .conteiner-nosotros .slide {
  max-width: 50vw;
  overflow: hidden;
}
@media screen and (max-width: 460px) {
  main .seccion-nosotros .conteiner-nosotros .slide {
    max-width: 100vw;
  }
}
main .seccion-nosotros .conteiner-nosotros .slide ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}
main .seccion-nosotros .conteiner-nosotros .slide ul li img {
  width: 50vw;
  height: 30vw;
}
@media screen and (max-width: 460px) {
  main .seccion-nosotros .conteiner-nosotros .slide ul li img {
    width: 100vw;
    height: 40vh;
  }
}
main .seccion-nosotros .titulo-nosotros {
  font-family: "Josefin Sans", sans-serif;
  font-size: 80px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  main .seccion-nosotros .titulo-nosotros {
    font-size: 60px;
  }
}
main .no-parallax {
  background-color: #FFF44F;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 -5px 10px rgba(126, 126, 17, 0.455);
}
main .no-parallax-secciones {
  z-index: 999;
}
main .parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
main .bg::after {
  background: linear-gradient(rgba(121, 118, 118, 0.5), rgba(255, 252, 252, 0.508)), url("../imagenes/fondo-huellas.jpg");
  background-size: cover;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
}
.contenedor-registro .datos-registro, .contenedor-contacto .datos, .contenedor-inicio-sesion .datos-inicio, .contenedor .contenedor-mascotas .mascotas .perfil {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  margin: 20px 10px;
}

.contenedor-inicio-sesion {
  grid-column: 1/3;
  margin: 125px 10px 10px 10px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 880px) {
  .contenedor-inicio-sesion {
    margin: 14vh 10px 10px 10px;
  }
}
.contenedor-inicio-sesion .datos-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}
.contenedor-inicio-sesion .datos-inicio .row .titulo-inicio-sesion {
  font-size: 4em;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 460px) {
  .contenedor-inicio-sesion .datos-inicio .row .titulo-inicio-sesion {
    font-size: 45px;
  }
}
.contenedor-inicio-sesion .datos-inicio .form-inicio-sesion {
  width: 80%;
}
.contenedor-inicio-sesion .datos-inicio .form-inicio-sesion .contenedor-btnInicio-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.contenedor-inicio-sesion .datos-inicio .form-inicio-sesion .contenedor-btnInicio-sesion .btnAdoptar {
  margin-top: 15px;
  background-color: yellow;
  padding: 10px 15px;
  color: black;
  border: none;
}
.contenedor-inicio-sesion .datos-inicio .registrate {
  text-align: center;
  margin-top: 40px;
}

.contenedor-registro .datos-registro, .contenedor-contacto .datos, .contenedor .contenedor-mascotas .mascotas .perfil, .contenedor-inicio-sesion .datos-inicio {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  margin: 20px 10px;
}

.contenedor-contacto {
  grid-column: 1/3;
  margin: 125px 10px 0px 10px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 880px) {
  .contenedor-contacto {
    margin: 14vh 10px 10px 10px;
  }
}
.contenedor-contacto .datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
}
.contenedor-contacto .datos .titulo-contacto {
  font-size: 4em;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 30px;
}
@media screen and (max-width: 460px) {
  .contenedor-contacto .datos .titulo-contacto {
    font-size: 45px;
  }
}
.contenedor-contacto .datos .form-contacto {
  width: 90%;
}
.contenedor-contacto .datos .col-12 .contenedor-btnEnviar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.contenedor-contacto .datos .col-12 .contenedor-btnEnviar .btnAdoptar {
  background-color: yellow;
  padding: 10px 15px;
  color: black;
  border: none;
}

.contenedor-informacion {
  grid-column: 1/3;
  width: auto;
  margin: 10px;
}
.contenedor-informacion .informacion {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}
.contenedor-informacion .informacion .icono {
  margin-right: 10px;
}

.contenedor-registro .datos-registro, .contenedor .contenedor-mascotas .mascotas .perfil, .contenedor-inicio-sesion .datos-inicio, .contenedor-contacto .datos {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  margin: 20px 10px;
}

.contenedor-registro {
  grid-column: 1/3;
  margin: 125px 10px 10px 10px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 880px) {
  .contenedor-registro {
    margin: 14vh 10px 10px 10px;
  }
}
.contenedor-registro .datos-registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}
.contenedor-registro .datos-registro .titulo-registro {
  font-size: 4em;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 30px;
}
@media screen and (max-width: 460px) {
  .contenedor-registro .datos-registro .titulo-registro {
    font-size: 45px;
  }
}
.contenedor-registro .datos-registro .form-registro {
  width: 90%;
}
.contenedor-registro .datos-registro .form-registro .contenedor-btnRegistro {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-registro .datos-registro .form-registro .contenedor-btnRegistro .btnAdoptar {
  background-color: yellow;
  padding: 10px 15px;
  color: black;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: serif;
  background-image: linear-gradient(to bottom right, #FFFF99 10%, #fff130 20%, #FFF44F 40%, #fffbae 60%, #FFFF99 80%);
  background-size: 200% 200%;
  animation: movimiento 10s linear infinite alternate;
}
.body .btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 30px;
  right: 20px;
  background: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
}
.body .btn-wsp-nosotros {
  right: 32px;
}
.body .btn-wsp:hover {
  background: #20ba5a;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .body .btn-wsp {
    width: 63px;
    height: 63px;
    line-height: 66px;
    right: 20px;
  }
}

@keyframes movimiento {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
button {
  padding: 5px 10px;
}

.enlace {
  color: rgb(255, 225, 0);
}

.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(5, auto);
  font-family: "Arial", sans-serif;
  color: #333;
  grid-template-areas: "header header header" "bienvenida bienvenida bienvenida" "mascotas mascotas testimonios" "secciones secciones secciones" "footer footer footer";
}

@media screen and (max-width: 880px) {
  .contenedor {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "bienvenida" "mascotas" "testimonios" "secciones" "footer";
  }
}
.margen {
  margin: 10px 0px;
}

/*# sourceMappingURL=style.css.map */
