@import 'componentes/header';
@import 'componentes/bienvenida';
@import 'componentes/mascotas';
@import 'componentes/testimonios';
@import 'componentes/secciones';
@import 'componentes/footer';
@import 'componentes/nosotros';
@import 'componentes/iniciar-sesion';
@import 'componentes/contacto';
@import 'componentes/registrarse';


*{
    margin: 0;
    padding: 0;
}

.body{
    font-family: serif;
    background-image: linear-gradient(to bottom right, #FFFF99 10%, #fff130 20%, #FFF44F 40%, #fffbae 60%, #FFFF99 80%);

    background-size: 200% 200%;

    animation: movimiento 10s linear infinite alternate;

    .btn-wsp{
        position:fixed;
        width:60px;
        height:60px;
        line-height: 63px;
        bottom:30px;
        right:20px;
        background:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:35px;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        z-index:100;
        transition: all 300ms ease;
    }

    .btn-wsp-nosotros{
        right:32px;
        
    }

    .btn-wsp:hover{
        background: #20ba5a;
    }

    @media only screen and (min-width:320px) and (max-width:768px){
        .btn-wsp{
            width:63px;
            height:63px;
            line-height: 66px;
            right: 20px;
        }
    }
}

@keyframes movimiento{
    from{
        background-position: 0 0;
    }

    to{
        background-position: 100% 100%;
    }
}


button{
    
    padding: 5px 10px;
}

.enlace{
    color: rgb(255, 225, 0);
}

.contenedor{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, auto);
    font-family: 'Arial', sans-serif;
    color: #333;

    grid-template-areas: 
    'header header header'
    'bienvenida bienvenida bienvenida'
    'mascotas mascotas testimonios'
    'secciones secciones secciones'
    'footer footer footer';
    
}

@media screen and (max-width: 880px) {

    .contenedor{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        'header'
        'bienvenida'
        'mascotas'
        'testimonios'
        'secciones'
        'footer'
        ;
    }

}

.margen{
    margin: 10px 0px;
}

// .contenedor section{
//     background-color: lightpink;
// } 

