@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit&display=swap');

$fuente-subtitulos: 'Josefin Sans', sans-serif;
$tamano-subtitulos: 60px;
$margen-header: 125px;
$tamano-subtitulos-mobile: 45px;

