@import '../base/variables';

.contenedor{
    .contenedor-bienvenida{

        grid-area: bienvenida;
        margin-top: 115px;

        .carousel{
            .carousel-inner{
                .carousel-item{
                    img{
                        width: 100%; /* Ajusta según tus necesidades */
                        position: relative;
                        display: inline-block;
                    }
                    .subcontenedor-bienvenida{

                        background-color: rgba(255, 255, 255, 0.4); 
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        text-align: center;
                        padding: 20px 0;
                        width: 700px;

                        .titulo-bienvenida{
                            font-size: $tamano-subtitulos;
                            font-family: $fuente-subtitulos;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}