@import '../base/extensiones';

.contenedor-contacto{
    grid-column: 1/3;
    margin: $margen-header 10px 0px 10px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 880px) {
        margin: $margen-header-mobile 10px 10px 10px;
    }
    
    .datos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 650px;
        @extend %bg-general;
        

        .titulo-contacto{
            font-size: $tamano-subtitulos;
            font-family: $fuente-subtitulos;
            margin-bottom: 30px;

            @media screen and (max-width: 460px) {
                font-size: $tamano-subtitulos-mobile;
            }
        }

        .form-contacto{
            width: 90%;
        }

        .col-12{
            .contenedor-btnEnviar{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 15px;

                .btnAdoptar{
                        
                    background-color: map-get($map: $btn-general, $key: color);
                    padding: map-get($map: $btn-general, $key: padding);
                    color: map-get($map: $btn-general, $key: texto);
                    border: map-get($map: $btn-general, $key: border);
                }
            }
        }
    }
}

.contenedor-informacion{
    grid-column: 1 / 3;
    @include insane(auto, 10px);

    .informacion{
        display: flex;
        align-items: center;
        margin: 10px 20px;

        .icono{
            margin-right: 10px;
        }
    }
}