.contenedor{
    .contenedor-footer{
        grid-area: footer;
        background-color: black;
        color: #fff;
        text-align: center;
        font-family: 'Kanit', sans-serif;
        margin-top: auto;
        padding: 1em 0;

        .footer{

            @media screen and (max-width: 460px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;

            .redes{
                .informacion{

                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    
                    .icono-redes{
                        width: 25px;
                        margin-right: 10px;  
                    }

                    .sub-redes{
                        color: #fff;
                        font-family: 'Kanit', sans-serif;
                        padding: 0;
                        text-decoration: none;
                    }

                }
            }

            .subcripcion{
                display: flex;
                flex-direction: column;
                padding: 20px;
                padding-right: 95px;

                @media screen and (max-width: 460px){
                    padding-right: 0;
                }

                div{
                    display: flex;
                    align-items: center;
                    margin-top: 5px;

                    @media screen and (max-width: 460px){
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    input{
                        margin-right: 5px;
                    }
                    .btnAdoptar{
                        
                        background-color: map-get($map: $btn-general, $key: color);
                        padding: map-get($map: $btn-general, $key: padding);
                        color: map-get($map: $btn-general, $key: texto);
                        border: map-get($map: $btn-general, $key: border);
                    }
                }
            }
        }
    }
}