@import '../base/variables';

// header

.header{

    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0 0 !important;
    background-color: black;
    
    

    .contenedor-titulo{

        display: flex;
        align-items: end;
        
        
        .logo{
            width: 140px;
            
            @media screen and (max-width: 880px) {
                width: 15vw;
                min-width: 80px;
            }
        }

        .titulo{
            font-size: 60px;
            margin-left: 10px;
            font-family: $fuente-subtitulos;
            color: white;
            text-decoration: none;

            @media screen and (max-width: 880px) {
                font-size: 6.5vw;
                margin-right: 5px;
            }
        }
    }

    .menu{

        display: flex;
        align-items: center;
        margin-right: 10px;

        

        .inicio-sesion{
            text-decoration: none;
            padding: 20px;
            color: white;
            font-family: 'Kanit', sans-serif;
            font-size: 20px;
            text-align: end;

            @media screen and (max-width: 880px) {
                display: none;
            }
        }

        .navbar-menu{

            border-radius: 5px;
            background-color: white;
            border: 1px solid white;

            .navbar-icon{

                display: inline-block;
                width: 1.5em;
                height: 1.5em;
                vertical-align: middle;
                background-image: var(--bs-navbar-toggler-icon-bg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;

            }
        }

        .offcanvas{
            .offcanvas-body{
                .navbar-nav{
                    
                    .desaparece{
                        @media screen and (min-width: 881px) {
                            display: none;
                        }
                    }
                    
                }
            }
        }
    }
}

// nav a{
//     text-decoration: none;
//     padding: 20px;
//     color: white;
//     font-family: 'Kanit', sans-serif;
//     font-size: 20px;
//     text-align: end;

    
// }

