@import '../base/extensiones';

.contenedor-inicio-sesion{
    grid-column: 1/3;
    margin: $margen-header 10px 10px 10px;
    display: flex;
    justify-content: center;

    .datos-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        @extend %bg-general;

        .row{
            .titulo-inicio-sesion{
                font-size: $tamano-subtitulos;
                font-family: $fuente-subtitulos;
                margin-bottom: 30px;

                @media screen and (max-width: 460px) {
                    font-size: $tamano-subtitulos-mobile;
                }
            }
        }

        .form-inicio-sesion{
            width: 80%;

            .contenedor-btnInicio-sesion{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 40px;
                
            }
        }

        .registrate{
            text-align: center;
            margin-top: 40px;
        }
        
    }
 
}