
main 
{
    grid-column: 1/3;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;

    .seccion-nosotros{
        transform-style: preserve-3d;
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        

        .subtitulos{
            font-family: $fuente-subtitulos;
            font-size: 5vh;


        }

        .contenido{
            margin: 10px;
            width: 80%;
            text-align: center;
            font-size: 1.5vw;

            @media screen and (max-width: 880px){
                      font-size: 2.5vh;          
            }
        }

        .conteiner-nosotros{
            // height: 100vh;
            width: 100%;
            display: grid;
            place-content: center;
            .slide{
                // width: 100vw;
                max-width: 50vw;
                // height: 720px;
                overflow: hidden;

                @media screen and (max-width: 460px){
                    max-width: 100vw;          
                }

                ul{
                    display: flex;
                    padding: 0;
                    width: 300%;

                    animation: slide 15s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);

                    li{
                        img{
                            width: 50vw;
                            height: 30vw;

                            @media screen and (max-width: 460px){
                                width: 100vw;    
                                height: 40vh;
                            }
                        }
                    }
                }
            }
        }

        .titulo-nosotros{
            font-family: $fuente-subtitulos;
            font-size: 80px;
            text-align: center;

            @media screen and (max-width: 768px) {
                font-size: 60px;
            }
        }
    }

    .no-parallax{
        background-color: #FFF44F;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 -5px 10px rgba(126, 126, 17, 0.455);
    }

    .no-parallax-secciones{
        z-index: 999;
    }

    .parallax{

        &::after{
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateZ(-1px) scale(1.5);
            background-size: 100%;
            z-index: -1;
        }
    }

    .bg{
        &::after {
            background: linear-gradient(rgba(121, 118, 118, 0.5), rgba(255, 252, 252, 0.508)), url("../imagenes/fondo-huellas.jpg");
            background-size: cover;
        }
    }
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
}