@import '../base/mixins';

.contenedor{
    .contenedor-secciones{
        grid-area: secciones;
        display: flex;
        padding: 10px 0;
        
        @media screen and (max-width: 880px) {
            justify-content: center;
        }

        .secciones{
            
            @media screen and (max-width: 880px) {
            
                flex-direction: column;
                place-items: center;
                
            }

            display: flex; 
            justify-content: space-around;
            @include insane(100%, 20px 10px);

            .seccion{

                @media screen and (max-width: 1142px) {
                    max-width: 300px;
                }
            
                max-width: 400px;
                display: flex;
                align-items: center;
                text-decoration: none;
                justify-content: center;
                margin: 5px 20px;

                .subseccion{

                    display: flex;
                    flex-direction: column;
                    margin: 0 15px;

                    .titulo-seccion{
                        color: black;
                        font-family: $fuente-subtitulos;
                        font-size: 30px;
                        margin-bottom: 5px;
                    }

                    .subtitulo-seccion{
                        color: black;
                    }
                }
            }

            .destacado {
                transition: transform 0.4s ease-in-out; /* Agrega una transición suave */

                &:hover{
                    transform: scale(1.3);
                }
            }

            
        }
    }
}